@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

img{
    height: 150px;
    margin-top: -60px;
}

.logo {
    height: 10px;
    position: relative;
    font-size: 30px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards ;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #05de4d;
}

.home {
    height: 100vh;
    background: url(blake-connally-IKUYGCFmfw4-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #05de4d;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #05de4d;
    border: 2px solid #05de4d;
    border-radius: 8px;
    font-size: 17px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color:#05de4d;
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: #05de4d;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #05de4d;
}


.btn-box a:hover {
    color:#05de4d;
}


.btn-box a:nth-child(1) {
    background: transparent;
    color: #05de4d;
}

.btn-box a:nth-child(1):hover {
    color: #081b29;
}

.btn-box a:nth-child(1)::before {
    background: #05de4d;
}



.btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29 ;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;
   border: 2px solid #05de4d;
   border-radius: 50%;
   font-size: 20px;
   color: #05de4d;
   text-decoration: none;
   z-index: 1;
   overflow: hidden;
   transition: .5s;
}

.home-sci a:hover {
    color: #081b29;

}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #05de4d;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}